@media (prefers-color-scheme: light) {
    :root {
      --text-50: #f2f2f2;
      --text-100: #e6e6e6;
      --text-200: #cccccc;
      --text-300: #b3b3b3;
      --text-400: #999999;
      --text-500: #808080;
      --text-600: #666666;
      --text-700: #4d4d4d;
      --text-800: #333333;
      --text-900: #1a1a1a;
      --text-950: #0d0d0d;
  
      --background-50: #f2f2f2;
      --background-100: #e6e6e6;
      --background-200: #cccccc;
      --background-300: #b3b3b3;
      --background-400: #999999;
      --background-500: #808080;
      --background-600: #666666;
      --background-700: #4d4d4d;
      --background-800: #333333;
      --background-900: #1a1a1a;
      --background-950: #0d0d0d;
  
      --primary-50: #f8e6fe;
      --primary-100: #f1cdfe;
      --primary-200: #e39bfd;
      --primary-300: #d569fc;
      --primary-400: #c737fb;
      --primary-500: #b905fa;
      --primary-600: #9404c8;
      --primary-700: #6f0396;
      --primary-800: #4a0264;
      --primary-900: #250132;
      --primary-950: #120119;
  
      --secondary-50: #e6edfe;
      --secondary-100: #cedcfd;
      --secondary-200: #9cb9fc;
      --secondary-300: #6b96fa;
      --secondary-400: #3973f9;
      --secondary-500: #0850f7;
      --secondary-600: #0640c6;
      --secondary-700: #053094;
      --secondary-800: #032063;
      --secondary-900: #021031;
      --secondary-950: #010819;
  
      --accent-50: #e9fbe9;
      --accent-100: #d4f7d4;
      --accent-200: #a9efa9;
      --accent-300: #7ee77e;
      --accent-400: #53df53;
      --accent-500: #28d728;
      --accent-600: #20ac20;
      --accent-700: #188118;
      --accent-800: #105610;
      --accent-900: #082b08;
      --accent-950: #041604;
  
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text-50: #0d0d0d;
      --text-100: #1a1a1a;
      --text-200: #333333;
      --text-300: #4d4d4d;
      --text-400: #666666;
      --text-500: #808080;
      --text-600: #999999;
      --text-700: #b3b3b3;
      --text-800: #cccccc;
      --text-900: #e6e6e6;
      --text-950: #f2f2f2;
  
      --background-50: #0d0d0d;
      --background-100: #1a1a1a;
      --background-200: #333333;
      --background-300: #4d4d4d;
      --background-400: #666666;
      --background-500: #808080;
      --background-600: #999999;
      --background-700: #b3b3b3;
      --background-800: #cccccc;
      --background-900: #e6e6e6;
      --background-950: #f2f2f2;
  
      --primary-50: #120119;
      --primary-100: #250132;
      --primary-200: #4a0264;
      --primary-300: #6f0396;
      --primary-400: #9404c8;
      --primary-500: #b905fa;
      --primary-600: #c737fb;
      --primary-700: #d569fc;
      --primary-800: #e39bfd;
      --primary-900: #f1cdfe;
      --primary-950: #f8e6fe;
  
      --secondary-50: #010819;
      --secondary-100: #021031;
      --secondary-200: #032063;
      --secondary-300: #053094;
      --secondary-400: #0640c6;
      --secondary-500: #0850f7;
      --secondary-600: #3973f9;
      --secondary-700: #6b96fa;
      --secondary-800: #9cb9fc;
      --secondary-900: #cedcfd;
      --secondary-950: #e6edfe;
  
      --accent-50: #041604;
      --accent-100: #082b08;
      --accent-200: #105610;
      --accent-300: #188118;
      --accent-400: #20ac20;
      --accent-500: #28d728;
      --accent-600: #53df53;
      --accent-700: #7ee77e;
      --accent-800: #a9efa9;
      --accent-900: #d4f7d4;
      --accent-950: #e9fbe9;
  
    }
  }

@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Noto%20Sans%20Georgian:400');

body {
  font-family: 'Noto Sans Georgian';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}