/* Define custom fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Noto%20Sans%20Georgian:400');

@media (prefers-color-scheme: light) {
    :root {
      --text-50: #f2f2f2;
      --text-100: #e6e6e6;
      --text-200: #cccccc;
      --text-300: #b3b3b3;
      --text-400: #999999;
      --text-500: #808080;
      --text-600: #666666;
      --text-700: #4d4d4d;
      --text-800: #333333;
      --text-900: #1a1a1a;
      --text-950: #0d0d0d;
  
      --background-50: #f2f2f2;
      --background-100: #e6e6e6;
      --background-200: #cccccc;
      --background-300: #b3b3b3;
      --background-400: #999999;
      --background-500: #808080;
      --background-600: #666666;
      --background-700: #4d4d4d;
      --background-800: #333333;
      --background-900: #1a1a1a;
      --background-950: #0d0d0d;
  
      --primary-50: #f8e6fe;
      --primary-100: #f1cdfe;
      --primary-200: #e39bfd;
      --primary-300: #d569fc;
      --primary-400: #c737fb;
      --primary-500: #b905fa;
      --primary-600: #9404c8;
      --primary-700: #6f0396;
      --primary-800: #4a0264;
      --primary-900: #250132;
      --primary-950: #120119;
  
      --secondary-50: #e6edfe;
      --secondary-100: #cedcfd;
      --secondary-200: #9cb9fc;
      --secondary-300: #6b96fa;
      --secondary-400: #3973f9;
      --secondary-500: #0850f7;
      --secondary-600: #0640c6;
      --secondary-700: #053094;
      --secondary-800: #032063;
      --secondary-900: #021031;
      --secondary-950: #010819;
  
      --accent-50: #e9fbe9;
      --accent-100: #d4f7d4;
      --accent-200: #a9efa9;
      --accent-300: #7ee77e;
      --accent-400: #53df53;
      --accent-500: #28d728;
      --accent-600: #20ac20;
      --accent-700: #188118;
      --accent-800: #105610;
      --accent-900: #082b08;
      --accent-950: #041604;
  
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text-50: #0d0d0d;
      --text-100: #1a1a1a;
      --text-200: #333333;
      --text-300: #4d4d4d;
      --text-400: #666666;
      --text-500: #808080;
      --text-600: #999999;
      --text-700: #b3b3b3;
      --text-800: #cccccc;
      --text-900: #e6e6e6;
      --text-950: #f2f2f2;
  
      --background-50: #0d0d0d;
      --background-100: #1a1a1a;
      --background-200: #333333;
      --background-300: #4d4d4d;
      --background-400: #666666;
      --background-500: #808080;
      --background-600: #999999;
      --background-700: #b3b3b3;
      --background-800: #cccccc;
      --background-900: #e6e6e6;
      --background-950: #f2f2f2;
  
      --primary-50: #120119;
      --primary-100: #250132;
      --primary-200: #4a0264;
      --primary-300: #6f0396;
      --primary-400: #9404c8;
      --primary-500: #b905fa;
      --primary-600: #c737fb;
      --primary-700: #d569fc;
      --primary-800: #e39bfd;
      --primary-900: #f1cdfe;
      --primary-950: #f8e6fe;
  
      --secondary-50: #010819;
      --secondary-100: #021031;
      --secondary-200: #032063;
      --secondary-300: #053094;
      --secondary-400: #0640c6;
      --secondary-500: #0850f7;
      --secondary-600: #3973f9;
      --secondary-700: #6b96fa;
      --secondary-800: #9cb9fc;
      --secondary-900: #cedcfd;
      --secondary-950: #e6edfe;
  
      --accent-50: #041604;
      --accent-100: #082b08;
      --accent-200: #105610;
      --accent-300: #188118;
      --accent-400: #20ac20;
      --accent-500: #28d728;
      --accent-600: #53df53;
      --accent-700: #7ee77e;
      --accent-800: #a9efa9;
      --accent-900: #d4f7d4;
      --accent-950: #e9fbe9;
  
    }
  } 
/* Apply styles */
body {
    font-family: 'Noto Sans Georgian';
    font-weight: 400;
    background-color: #010819; /* Set background color to black */
    color: white; /* Set font color to white */
    margin: 0; /* Remove default margin */
    text-align: justify;
}

header {
    background-color: black; /* Set header background color to black */
    color: white; /* Set header font color to white */
    position: fixed; /* Make header static */
    width: 97%; /* Set header width to 100% */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space navigation links evenly */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Add padding */
    border-bottom: 2px solid black; /* Add white line at the bottom */
    border-left: 2px solid black; /* Add white line at the bottom */
    border-right: 2px solid black; /* Add white line at the bottom */
    border-top: 2px solid black; /* Add border radius for smooth/rounded corners */
    z-index: 1; /* Ensure header is on top of other content */
    border-radius: 5px;
}

footer {
    background-color: black; /* Set header background color to black */
    color: white; /* Set header font color to white */
    position: fixed; /* Make header static */
    width: 97%; /* Set header width to 100% */
    bottom:0;
    padding: 10px 20px; /* Add padding */
    border-bottom: 10px solid black; /* Add white line at the bottom */
    border-left: 2px solid black; /* Add white line at the bottom */
    border-right: 2px solid black; /* Add white line at the bottom */
    border-top: 2px solid black; /* Add border radius for smooth/rounded corners */
    z-index: 1; /* Ensure header is on top of other content */
    border-radius: 5px;
    text-align: center;

}

header a {
    margin-right: 20px; /* Add space between navigation links */
    color: white; /* Set navigation link color to white */
    text-decoration: none; /* Remove underline */
}

header a:hover {
    color: #53df53; /* Change font color on hover */
    transition: transform 0.2s; /* Animation duration */
    transform: scale(1.1); /* Zoom out to 80% of original size */
}

.container {
    padding-top: 100px; /* Add padding to top of container to prevent overlap with fixed header */
    width: 80%; /* Set container width to match header width */
    margin: auto; /* Center container horizontally */
    padding-bottom: 80px; /* Add padding to top of container to prevent overlap with fixed header */
}

#page-logo {
    color: white; /* Set navigation link color to white */
}

/* Additional styling for smaller heading sizes */
h1 { font-size: 4.210rem; }
h2 { font-size: 3.158rem; }
h3 { font-size: 2.369rem; }
h4 { font-size: 1.777rem; }
h5 { font-size: 1.333rem; }
small { font-size: 0.750rem; }

/* Media query for adjusting navigation bar */
@media screen and (max-width: 500px) {
    header {
        flex-direction: column; /* Stack navigation links vertically */
        padding: 10px; /* Adjust padding */
    }

    header a {
        margin: 5px 0; /* Adjust margin */
    }

    .container {
        width: 100%; /* Set container width to full width on smaller screens */
        padding-top: 60px; /* Adjust padding to prevent overlap with fixed header */
    }

    .row {
        flex-direction: column; /* Stack columns vertically */
    }

    .column-left,
    .column-right {
        border: none; /* Remove border between columns */
        padding: 0; /* Remove padding */
    }

    .column-left a,
    .column-right a {
        margin-bottom: 5px; /* Adjust space between links */
    }
}

.background-site {
    background-color: #010819;
}

/* Additional styling for smaller heading sizes */
.column-left,
.column-right {
    flex: 1; /* Equal width for both columns */
    padding: 0 10px; /* Adjust padding */
}

.row {
    display: flex; /* Use flexbox for layout */
}

/* .column-left {
    border-right: 1px solid white;} /* Add border between columns */


.column-left a,
.column-right a {
    display: block; /* Make links full width */
    margin-bottom: 10px; /* Add space between links */
}

/* Media query for adjusting navigation bar */
@media screen and (max-width: 500px) {
    header {
        flex-direction: column; /* Stack navigation links vertically */
        padding: 10px; /* Adjust padding */
    }

    header a {
        margin: 5px 0; /* Adjust margin */
    }

    .container {
        width: 100%; /* Set container width to full width on smaller screens */
        padding-top: 60px; /* Adjust padding to prevent overlap with fixed header */
    }

    .row {
        flex-direction: column; /* Stack columns vertically */
    }

    .column-left,
    .column-right {
        border: none; /* Remove border between columns */
        padding: 0; /* Remove padding */
    }

    .column-left a,
    .column-right a {
        margin-bottom: 10px; /* Adjust space between links */
    }
}

.images-right-text{

    float: right; /* Align the image to the right */
    margin-left: 10px; /* Add some space between the text and the image */
    margin-top: 20px;
    border-radius: 35px;
    margin-bottom: 5px;
}
.images-center-text{

    float: center; /* Align the image to the center */
    margin-left: 100px; /* Add some space between the text and the image */
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 35px;
    margin-bottom: 5px;
}

/* Add the following CSS to style the button groups */
.button-group {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space buttons evenly */
    margin-bottom: 10px; /* Add margin between button groups */
    text-decoration: none; /* Remove underline */

}

/* Add the following CSS to style the buttons */
.button {
    /* background-color: #b905fa; Set button background color */
    color: white; /* Set button text color */
    padding: 20px; /* Add padding */
    margin: 5px; /* Add margin */
    text-align: center; /* Center text */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.3s; /* Add transition effect */
    border-radius: 5px; /* Add border radius */
    text-decoration: none; /* Remove underline */

    
}

/* Add hover effect */
.button:hover {
    /* background-color: #9404c8; Change background color on hover */
    transform: scale(1.1); /* Scale button on hover */
    text-decoration: none; /* Remove underline */

}

/* Add different sizes for each button */
#button1 { 
    width: 60%;
    background-color: #3973f9;
    text-decoration: none; /* Remove underline */

    
}
#button2 {
    
    width: 40%;
    background-color: #9404c8;
    text-decoration: none; /* Remove underline */


}
#button3 { 
    
    width: 25%;
    background-color: #4a0264;
    text-decoration: none; /* Remove underline */


}
#button4 { 
    
    width: 75%;
    background-color: #20ac20;
    text-decoration: none; /* Remove underline */

}
#button5 { 
    
    width: 30%;
    background-color: #053094;
    text-decoration: none; /* Remove underline */

}
#button6 { 

    width: 50%;
    background-color: #082b08;
    text-decoration: none; /* Remove underline */

}

#button1:hover { 
    width: 60%;
    background-color: #3973f9;
    text-decoration: none; /* Remove underline */

    
}

#button2:hover { 
    
    width: 40%;
    background-color: #9404c8;
    text-decoration: none; /* Remove underline */

}

#button3:hover { 
    
    width: 25%;
    background-color: #4a0264;
    text-decoration: none; /* Remove underline */

}

#button4:hover { 
    
    width: 75%;
    background-color: #20ac20;
    text-decoration: none; /* Remove underline */

}

#button5:hover { 
    
    width: 30%;
    background-color: #053094;
    text-decoration: none; /* Remove underline */

}

#button6:hover { 
    
    width: 50%;
    background-color: #082b08;
    text-decoration: none; /* Remove underline */

}

a{
    text-decoration: none; /* Remove underline */
    color:white;


}

.pdf{

    border-radius: 5px;
    width: 560px;
    
}

.borders{

    border-radius:5px;
}